@model List<string> 
@{
    ViewData["Title"] = "Wybierz model AI";
}

<form method="post" asp-controller="Home" asp-action="CreateCheckoutSession">
    <button type="submit" class="btn btn-primary">Rozszerz plan</button>
</form>


